@{
    ViewBag.Title = "First Page";
}

<div class="jumbotron">
    <h1>MultiTenant OpenID Connect Page</h1>
   
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started Sample Page</h2>
       <p> Try checking Sign Up and Sign In (links in navigation) to start testing MultiTenant OpenID Connect functionality</p>
    </div>
   
</div>